.root {
    height: 100vh;

    .body {
        display: grid;
        grid-template-areas:
            "sidebar seartch side"
            "sidebar details side"
            "sidebar footer side";
        grid-template-columns: minmax(1em, 10%) 1fr minmax(1em, 10%);
        grid-template-rows: 5em 1fr 15em;

        height: 100%;
    }
}