.container {
    grid-area: details;

    display: grid;
    grid-template-areas: 
        'details operations'
        'forecasts forecasts';
    grid-template-rows: 1fr 8em;
    grid-template-columns: 1fr 1fr;
    
    opacity: .8;
}