.container {
    grid-area: details;

    display: grid;
    grid-template-areas: 
        'operations'
        'details'
        'forecasts';
    grid-template-rows: 3em 1fr 8em;
    
    box-shadow: // From material ui Paper
        0px 2px 1px -1px rgba(0,0,0,0.2),
        0px 1px 1px 0px rgba(0,0,0,0.14),
        0px 1px 3px 0px rgba(0,0,0,0.12); 

    background-color: rgba(255, 255, 255, 0.3);
    max-width: 34em;
    justify-self: center;

    .favoritesButton {
        margin: 1em;

        svg {
            color: gray;
        }
    }
}