.navButtonsContainer {

    .navButton {
        display: flex;
        justify-content: space-evenly;
        background-color: #3f51b5;
        width: 10em;
        
        a {
            color: lightgray;
            text-decoration: none;
            text-transform: none;
        }

        &:hover {
            background-color: #3f51b5;
        
            a {
                color: white;
            }
        }

        &.selected {
            color: white;
            background-color: rgb(23, 59, 126);
        }

        .text {
            font-size: x-small;
        }
    }
}